<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if cuenta %}
    <table border="1">
        <tr>
            <th>Mail</th>
            <th>Password</th>
        </tr>
        {% for c in cuenta %}
        <tr>
            <td> {{ c.correo }} </td>
            <td> {{ c.password }} </td>
            <td> <a href="">Detalle</a> </td>
            <td> <a href="">Eliminar</a> </td>
        </tr>
        {% endfor %}
    </table>        
{% endif %}
</body>
</html>