<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="http://localhost:8000/HappyPaws/inicio"  style="color: #000;text-decoration: none;">Volver</a></button>
    {% if cuenta %}
    <table border="1">
        <tr>
            <th>Mail</th>
            <th>Password</th>
        </tr>
        {% for c in cuenta %}
        <tr>
            <td> {{ c.correo }} </td>
            <td> {{ c.password }} </td>
            <td> <a href="http://localhost:8000/HappyPaws/cuenta/{{c.id}}">Detalle</a></td>
            <td> <a href="http://localhost:8000/HappyPaws/cuenta/eliminar/{{c.id}}">Eliminar</a> </td>
            <td><a href="http://localhost:8000/HappyPaws/cuenta/editar/{{c.id}}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>        
{% endif %}
</body>
</html>